header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
  height: 13vh;
  background-color: #0d0825;
  width: 100%;
  display: flex;
  align-items: center;
  .logo {
    a {
      margin-left: 25px;
      color: var(--dominant-wmode-color);
      display: flex;
      align-items: center;
      @media (max-width: 700px) {
        & {
          margin-left: 0;
        }
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: -7px;
      }
      span {
        &:first-of-type {
          color: var(--compl-2);
          font-size: 34px;
          letter-spacing: 1px;
        }
        &:not(:first-of-type) {
          letter-spacing: 1px;
          color: var(--compl-1);
        }
      }
    }
  }
  ul {
    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 55px;
    align-items: center;
    li {
      margin-left: 20px;
      a {
        color: var(--dominant-wmode-color);
        font-weight: 400;
        font-size: 20px;
        &:hover,
        &.router-link-active {
          color: var(--compl-2);
          font-weight: 500;
        }
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
      }
    }
  }
  border-bottom-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  -ms-border-bottom--left-radius: 30px;
  -o-border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  -ms-border-bottom-right-radius: 30px;
  -o-border-bottom-right-radius: 30px;
}
@media (max-width: 900px) {
  header {
    ul {
      display: flex;
      justify-content: space-evenly;
      animation: header-animation 0.7s ease-out forwards;
      animation-delay: 1.5s;
      flex-direction: column;
      position: fixed;
      top: 85px;
      padding: 30px 20px;
      left: 0;
      align-items: flex-start;
      z-index: 2000;
      width: 100%;
      text-align: center;
      clip-path: circle(0);
      transition: clip-path 0.7s ease-out;
      &.active {
        clip-path: circle(600px);
      }
      li {
        margin-bottom: 20px;
      }
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      background-color: var(--dominant-bmode-color);
    }
  }
}
header {
  #nav-icon1 {
    width: 33px;
    height: 29px;
    position: fixed;
    right: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2001;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: var(--compl-2);
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 12px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
    &.open {
      span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}
@media (min-width: 900px) {
  header {
    #nav-icon1 {
      display: none;
    }
  }
}
