*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dominant-wmode-color: #FFFFFF;
    --dominant-bmode-color: #07081d;
    --compl-1: #00e0b8;
    --compl-2: #dc57ff;
    --compl-3: #017587;
}
html{
    scroll-behavior:smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    &:not(:first-of-type){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
p.comming{
    min-height: 55vh;
    display: grid;
    place-content: center;
    color: var(--dominant-wmode-color);
    font-size: 40px;
    font-weight: 500;
}
::selection{
    background-color: var(--compl-2);
    color: var(--dominant-bmode-color);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dominant-bmode-color);
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--compl-2);
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--dominant1-wmode-color);
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px) {
    .container{
        width: 90%;
    }
}
@media (min-width:992px) {
    .container{
        width: 90%;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}