.container {
  .body {
    div.flex-pool {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .item {
      max-width: 330px;
      min-width: 290px;
      margin-top: 50px;
      padding: 20px 15px;
      border-radius: 25px;
      box-shadow: 0px 0px 7px 2px var(--compl-2);
      cursor: pointer;
      &:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        box-shadow: 0px 0px 20px 3px var(--compl-2);
      }
      transition: all 0.4s ease-in-out;
      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
        .left {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          flex: 1;
          h3 {
            font-size: 26px;
            color: var(--compl-2);
            text-shadow: 0px 0px 2.6px var(--compl-2);
          }
          p {
            font-size: 19px;
            font-weight: 500;
            color: var(--dominant-wmode-color);
          }
        }
        .image {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          overflow: hidden;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          box-shadow: 0px 0px 12px 1.4px var(--compl-2);
          img {
            &:first-child {
              width: 100%;
              height: 100%;
              filter: brightness(0.8);
              -webkit-filter: brightness(0.8);
            }
            &:not(:first-child) {
              position: absolute;
            }
            &.special {
              width: 33px;
              height: 33px;
              position: absolute;
              bottom: 40px;
              left: 24px;
              box-shadow: 0px 0px 20px var(--compl-2);
              background-color: var(--dominant-bmode-color);
              outline: 3px solid var(--compl-2);
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              padding: 3px;
            }
          }
          span {
            position: absolute;
            top: 7px;
            right: 10px;
            font-size: 19px;
          }
        }
        div.bscan {
          display: flex;
          flex-direction: column;
          justify-content: center;
          a {
            display: inline-block;
            svg,
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              outline: 3px solid var(--compl-2);
              margin-bottom: 3px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
      p.social {
        a {
          margin-right: 10px;
          display: inline-block;
          img {
            width: 30px;
            background-color: var(--compl-2);
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            padding: 4px;
          }
          svg {
            color: black;
            font-size: 30px;
            background-color: var(--compl-2);
            border-radius: 12px;
            padding: 3px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
          }
        }
      }
      .state {
        margin: 15px 0;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
      .description {
        color: var(--dominant-wmode-color);
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 15px;
      }
      .raise,
      .starts,
      .price {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          &:first-child {
            color: var(--compl-2);
            font-size: 18px;
            font-weight: 500;
          }
          &:last-child {
            color: var(--dominant-wmode-color);
            font-weight: 500;
            font-size: 17px;
          }
        }
      }
      .FCFS {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: var(--compl-2);
          font-size: 15px;
          font-weight: bold;
        }
        span:last-child {
          color: var(--dominant-wmode-color);
          font-weight: bold;
        }
      }
      .progress {
        margin-top: 20px;
        .main {
          width: 100%;
          height: 8px;
          background-color: #969aa2;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          overflow: hidden;
          span {
            height: 100%;
            width: 30%;
            background-color: var(--compl-2);
            display: block;
          }
        }
        .sub {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          div.BUSD {
            span {
              color: #969aa2;
              &:first-child {
                font-weight: bold;
                margin-right: 5px;
              }
              &:last-child {
                color: var(--compl-2);
                font-weight: bold;
              }
            }
          }
        }
      }
      p.list-time {
        color: var(--compl-2);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        span {
          color: var(--dominant-wmode-color);
        }
      }
      p.one-x {
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        color: var(--compl-2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: var(--dominant-wmode-color);
        }
      }
      p.verify {
        margin-top: 10px;
        text-align: center;
        color: var(--compl-1);
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
