div.pools {
  margin-top: 130px;
  padding-bottom: 50px;
  section {
    .container {
      .head {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 700px) {
          flex-direction: column;
        }
        div {
          &:first-child {
            a.active {
              background-color: var(--compl-2);
            }
          }
          &:nth-child(2) {
            position: relative;
            input.search {
              background: none;
              border: 0;
              width: 225px;
              outline: 2px solid var(--compl-2);
              padding: 12px 55px;
              font-size: 16px;
              border-radius: 33px;
              color: var(--dominant-wmode-color);
              -webkit-border-radius: 33px;
              -moz-border-radius: 33px;
              -ms-border-radius: 33px;
              -o-border-radius: 33px;
              font-weight: 500;
              @media (max-width: 700px) {
                margin-top: 30px;
              }
              &::placeholder {
                color: var(--compl-2);
                font-weight: bold;
              }
            }
            svg {
              margin-right: 10px;
              font-size: 21px;
              color: var(--compl-2);
              padding: 10px;
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              @media (max-width: 700px) {
                top: 70%;
              }
            }
          }
        }
      }
      div.body {
        margin-top: 40px;
        color: white;
      }
    }
  }
}
